<template>
  <div>
    <h2>Top Property & Industry News</h2>
    <p class="sub-title">
      Read hundreds of articles on home building & investments
    </p>
    <div class="container">
      <div class="nav-container">
        <div class="filters">
          <div class="filter-options">
            <div>
              <div
                class="filter-option"
                v-for="(option, index) in filterOptions"
                :key="index"
              >
                <div>
                  <span
                    class="link"
                    :class="index == filterOptions.length - 1 ? 'last' : ''"
                    @click="filterClicked(option.category)"
                    >{{ option.name }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card" v-for="(card, index) in displayData" :key="index">
          <div>
            <div
              class="image-section"
              :style="`background-image: url(${card.thumbnail});`"
            ></div>
            <div class="left-align">
              <span class="text">{{ card.postAt | formatDate }}</span>
              <span class="tag">{{ card.tag }}</span>
              <span @click="addToModal(card)" class="description">{{
                card.title
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Modal v-show="isModalVisible" @close="closeModal">
      <template v-slot:header>
        {{ modalData.title }}
      </template>

      <template v-slot:body>
        <div>
          <div
            class="image-section"
            :style="`background-image: url(${modalData.picUrl});`"
          ></div>
          <div class="left-align">
            <span class="description">{{ modalData.description }}</span>
          </div>
        </div>
      </template>
    </Modal>
  </div>
</template>

<script>
import data from "@/data.js";
import Modal from "../components/Modal.vue";
export default {
  name: "HomePage",
  components: { Modal },
  data() {
    return {
      originalData: data,
      displayData: data.slice(0, 6),
      isModalVisible: false,
      modalData: {},
      filterOptions: [
        { name: "Building New", category: 100 },
        { name: "Buying Property", category: 200 },
        { name: "Home Design", category: 300 },
        { name: "Suburbs Estates", category: 400 },
        { name: "Property Investing", category: 500 },
        { name: "Renovating", category: 600 },
        { name: "All", category: null }
      ]
    };
  },
  filters: {
    formatDate: function(value) {
      var months = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ];
      var date = new Date(value);
      return `${
        months[date.getMonth()]
      } ${date.getDate()}, ${date.getFullYear()}`;
    }
  },
  methods: {
    filterClicked(category) {
      if (category !== null)
        this.displayData = this.originalData.filter(function(item) {
          return item.category === category;
        });
      else this.displayData = this.originalData;
    },
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
    addToModal(data) {
      this.modalData = data;
      this.showModal();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-size: 25px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

.sub-title {
  color: #42b983;
  font-weight: 400;
  padding-bottom: 10px;
}

.container {
  height: 75vh;
  width: 1190px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-container {
  background: #eef2f6;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  padding-left: 40px;
  padding-right: 40px;
}

.filter-options {
  overflow: hidden;
  width: 1071px;
}

.filters .filter-option {
  display: block;
}

.filter-option {
  float: left;
  cursor: pointer;
  width: 153px;
}

.link {
  padding: 10px;
  overflow: hidden;
  position: relative;
  height: 40px !important;
  width: 100%;
  display: inline-block;
}

.link::after {
  content: "|";
  color: #2b7eef;
  font-size: 20px;
  line-height: 25px;
  position: absolute;
  right: 0;
  top: 4px;
}

* {
  box-sizing: border-box;
}

.last::after {
  content: "";
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.card {
  flex: 0 0 33.333333%;
  padding: 0 10px 10px;
  margin-bottom: 10px;
  float: left;
}

.image-section {
  background-size: cover;
  height: 200px;
  background-color: #ddd;
  background-position: 50% 50%;
  border-radius: 8px;
  margin-bottom: 5px;
}

.text {
  font-size: 14px;
  color: #888;
  margin-right: 20px;
}

.description {
  font-size: 18px;
  line-height: 120%;
  display: block;
  height: 44px;
  margin-bottom: 10px;
  font-weight: 600;
  cursor: pointer;
}

.tag {
  font-size: 14px;
  line-height: 20px;
  color: orange;
}

.left-align {
  text-align: left;
}
</style>
